<div id="divWeatherMain"> 
    <div style = "padding-top: 20%;" >
        <div *ngIf="isDay()" class="weatherWidgetRow">
            <i class="fas fa-3x fa-sun sun"></i>  
        </div>   
        <div *ngIf="!isDay()" class="weatherWidgetRow">
            <i class="fas fa-3x fa-moon moon"></i>  
        </div>   
        <div class="weatherWidgetRow cloudDiv">
            <i class="fas fa-cloud fa-3x cloud"></i>
        </div>
        <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
        <div class="weatherWidgetRow" style="font-size: 12px;">{{ WeatherData.main.date | date}}</div>
        <div class="weatherWidgetRow" style="font-size: 12px;">{{ WeatherData.main.time }}</div>
        <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.main.location}}</div>
        <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
    </div>
   
</div>